.sobre-mi{
    @include flex(row, center, center);
    div{
        padding: 30px;
        img{
            width: 450px;
        }
        h2{
            color: map-get($colores, fuente);
            font-size: 60px;
            font-family: $fuenteSecuendaria;
            text-align: center;
            transform: rotate(-18deg);
            margin-bottom: 30px;
        }
        p{
            background-color: map-get($colores, fondo);
            color: map-get($colores, fuente);
            font-size: 20px;
            font-family: $fuentePrincipal;
            text-align: center;
            padding: 30px;
            width: 530px;
            height: 290px;
        }
        .linea4{
            background-color: map-get($colores, fuente);
            width: 350px;
            height: 1px;
            padding: 0;
            margin-top: 10px;
            margin-left: 80px;
        }
    }
}