@media (max-width:768px) {
    header{
        section{
            nav{
                @include grid ((80% 20%), repeat(3,1fr), center, center, "logo toggle""logo menuImagen""logo lista");
                justify-items: center;
                margin-top: 10px;
                height: 180px;
                    .logoMenuHamburguesa{ 
                        display: flex; 
                        color: white; 
                        cursor: pointer;
                        grid-area: logo;
                        width: 150px;
                        margin-left: 110px;
                    }
                label{
                    display: flex;
                    .menuImagen{
                        display: inline-flex; 
                        color: white; 
                        cursor: pointer;
                        grid-area: menuImagen;
                        width: 50px;
                    }
                }
                #toggle{ 
                    display: inline-flex; 
                    color: white; 
                    cursor: pointer;
                    grid-area: toggle;
                    display: none;
                }
                #toggle:checked ~ .lista{ 
                    height: 300%; 
                }
                .lista{ 
                    width: 150px; 
                    height: 0px; 
                    overflow: hidden;
                    @include flex (column, none, flex-start);
                    grid-area: lista;
                    margin-right: 10px;
                    background-color: white;
                    border-radius: 0.4rem;
                    li{
                        a{
                            .logo{
                                display: none;
                            }
                        }
                    }
                    .linkIndex::after{
                        display: none;
                    }
                    .linkIndex::before{
                        display: none;
                    }
                }
            }
        }
    }
    footer{
        section{
        @include flex(column, center, center);
        margin-left: 0;
        width: 100%;
        div{
            padding: 10px;
        }
        a::after{
            display: none;
        }
        a::before{
            display: none;
        }
        }
        .linea2{
            display: none;
        }
    }


.galeria{
    div{
        .tamanoCarrousel{
            width: 500px;
        }
    }
}

.sobre-mi{
    div{
        margin: 10px;
        padding: 0;
        img{
            width: 350px;
        }
        h2{
            font-size: 40px;
            margin-bottom: 15px;
        }
        p{
            height: 48vh;
            width: 300px;
            font-size: 15px;
        }
        .linea4{
            width: 200px;
            margin-left: 60px;
            margin-bottom: 15px;
        }
    }
}

.cuadros{
    @include grid (1, (4,1fr), center, center, "cuadro1""descripcion1""cuadro2""descripcion2");
    height: 230vh;
    .cuadro1{
        grid-area: cuadro1;
    }
    .cuadro2{
        grid-area: cuadro2;
    }
    .descripcion1{
        grid-area: descripcion1;
        
    }
    .descripcion2{
        grid-area: descripcion2;
    }
    .linea3{
        display: none;
    }
}

.contacto{
    @include flex (column-reverse, center, center);
    padding: 10px;
    margin-top: 20px;
    div{
    form{
        width: 400px;
        height: 300px;
        margin: 10px;
    }
    p{
        font-size: 15px;
        width: 500px;
        height: 150px;
        margin: 10px;
    }}
}
}