@media(max-width:1024px) {
    h1{
        font-size: 20px;
    }
    .contacto{
        div{
            form{
                width: 400px;
            }
            p{
                width: 400px;
            }
        }
    }
    footer{
        section{
        margin-left: 90px;}
    }
}
