@media(max-width:1024px) {
    h1{
        font-size: 20px;
    }
    .contacto{
        div{
            form{
                width: 400px;
            }
            p{
                width: 400px;
            }
        }
    }
    .sobre-mi{
        div{
            p{
                width: 430px;
                height: 340px;
            }
        }
    }
    .cuadros{
        div{
            img{
                width: 400px;
            }
            .linea3{
                width: 300px;
            }
        }
    }
    header{
        nav{
            ul{
                .linkIndex::after{
                    width: 380px;
                }
                .linkIndex::before{
                    width: 380px;
                    margin-left: -380px;
                }
            }
        }

    }
    footer{
        section{
            margin-left: 90px;
        }
    }
}
